
.editor-design {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

.editor-help {
	position: absolute;
	z-index: 10;
	top: 0px;
	background: #ffffff;
	right: 0px;
	width: 400px;
	display: none;
	border: 1px solid #ddd;
	padding: 10px;
	bottom: 0px;
	overflow: auto;
}

.open-help.editor-help {
	display: block;
}
.editor-case {
	font-size: 13px;
	position: relative;
	width: 100%;
	background-color: #3B3B3B;
	color: #cacaca;
	min-height: 100%;
}

.editor-case .input {
	color: #FFFFFF;
	min-width: 50px;
	border: 0px;
	border-bottom: 1px dashed #636363;
	display: inline-block;
	outline: 0px;
	background-color: transparent;
	text-align: center;
	height: 24px;
	max-width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 13px;
}

.editor-case .input.error {
	border-color: #F44336 !important;
}

.editor-case .input-mini {
	min-width: 30px;
}

.editor-case .input option {
	background-color: #FFFFFF;
	color: #3e3e3e;
}

.editor-case textarea.input {
	height: 70px;
	border: 1px dashed #636363;
	text-align: left;
	padding: 5px;
	min-width: 500px;
}

.editor-case .input:focus {
	outline: none;
}

.editor-case>ul>li, .editor-case .sub3>li, .editor-case .sub4>li {
	position: relative;
	padding: 0px 0px;
	margin: 0px 0px;
}

.editor-case>ul>li:after {
	content: "";
	display: block;
	float: none;
	clear: both;
	display: block;
}

.editor-case ul, .editor-case li {
	position: relative;
	padding: 0px 10px;
}

.editor-case .sub4 {
	margin-bottom: 2px;
	padding: 5px;
	background: #2f2f2f;
}

.editor-case .sub1 {
	padding-left: 10px;
	background: #333333;
	padding: 5px;
	margin: 5px;
}

.editor-case .sub1>li {
	margin: 5px 0px;
}

.editor-case .sub2 {
	background: #3e3e3e;
	margin-top: 10px;
	padding-top: 10px;
}

.editor-case .sub2 .sub2 {
	background: #3e3e3e;
}

.service-view {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 1;
	height: 180px;
	overflow: auto;
	min-height: auto;
}

.service-view>a {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
}

.service-view.close {
	max-height: 30px;
	overflow: hidden;
}

.process-box {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.process-box .process-node {
	position: absolute;
	box-shadow: 0px 0px 6px #7d7d7d;
	background-color: #FFFFFF;
	padding: 15px;
	border-radius: 5px;
	cursor: move;
}

.process-box .process-node .image {
	float: left;
	width: 21px;
	height: 21px;
	margin: 2px;
	cursor: pointer;
	border: 1px dashed transparent;
}

.process-box .process-node:hover .image {
	border-color: #ddd;
}

.process-box .process-node.process-node-action .image {
	width: 18px;
	height: 18px;
	margin: 5px;
}

.process-box .process-node .icon {
	float: left;
	font-size: 18px;
}

.process-box .process-node .text {
	float: left;
	font-size: 12px;
	line-height: 18px;
	margin: 5px;
}

.process-box .process-node .ring {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 13px;
	height: 13px;
	border: 3px solid grey;
	border-radius: 20px;
	background-color: #d8d8d8;
	cursor: pointer;
}

.process-box .process-node .move {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid rgb(221, 221, 221);
	top: 5px;
	right: 5px;
}

.process-node-toolbar {
	/* margin: -15px -10px 0px 5px; */
	margin: 0px 0px 0px 0px;
	position: absolute;
	left: 0px;
	top: 100%;
	display: none;
	padding-bottom: 5px;
	white-space: nowrap;
	z-index: 1;
}

.process-node:hover .process-node-toolbar {
	display: block;
}

.process-node.show {
	box-shadow: 0px 0px 14px #000000;
}

.process-node.show .process-node-toolbar {
	display: block;
}

.process-node-toolbar>div {
	background-color: #ddd;
}

.process-variable-box {
	background: #ffffff;
	min-width: 230px;
	cursor: auto;
	white-space: nowrap;
	margin-top: 5px;
}

.process-variable-box .title {
	text-align: center;
	padding: 5px;
}

.process-validate-box {
	background: #ffffff;
	min-width: 230px;
	margin-top: 5px;
	cursor: auto;
	white-space: nowrap;
}

.process-validate-box .title {
	text-align: center;
	padding: 5px;
}

.jtk-drag-select * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.page-design-box {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: auto;
	background-color: #ffffff;
}

.page-editor-model-box {
	position: absolute;
	overflow: auto;
	transition: all .3s;
	-webkit-transition: all .3s;
	z-index: 100;
	top: 15px;
	bottom: 15px;
	-webkit-box-shadow: 0px 1px 10px #7b7b7b;
	box-shadow: 0px 1px 10px #7b7b7b;
	background: #FFFFFF;
	transform: scale(0);
	width: 600px;
	margin: 0px auto;
}

.page-editor-model-box.page-editor-model-box-show {
	transform: scale(1);
}

.page-editor-model-box .title, .page-editor-form-box .title {
	color: #ffffff;
	font-size: 16px;
	line-height: 30px;
	padding: 0px 10px;
	background: #d68200;
}

.page-editor-model-box .el-collapse {
	border-top: 0px;
	border-bottom: 0px;
}

.page-editor-model-box .el-collapse-item {
	margin: 0px;
}

.page-editor-model-box .el-collapse-item__header {
	color: #ffffff;
	background: #ff9b00ed;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #fff;
	padding-left: 10px;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.page-editor-model-box .el-collapse-item__wrap {
	border-bottom: 0px;
}

.page-editor-model-box .el-collapse-item__content {
	padding-bottom: 0px;
}

.page-editor-model-box .ui-list {
	position: relative;
	overflow: hidden;
	height: calc(100% - 30px);
}

.page-editor-model-box .ui-group-list .el-collapse-item__header {
	background-color: #ffb644;
	border-bottom: 1px solid #f9d49a;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.page-editor-model-box .ui-model-list {
	position: relative;
}

.page-editor-model-box .ui-model-one {
	outline: 1px solid #ddd;
	padding: 5px;
	overflow: hidden;
	margin: 5px;
}

.page-editor-model-box .ui-model-one .ui-model-title {
	text-align: center;
}

.page-editor-model-box .ui-model-one .ui-model-demo {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	display: inline-block;
	padding: 2px;
	position: relative;
}

.page-editor-model-box .ui-model-one .ui-model-demo.ui-model-demo-block
	{
	display: block;
}

.page-editor-model-box .ui-model-one .ui-model-demo:after {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	outline: 1px dashed #ddd;
	background-color: rgba(255, 255, 255, 0.5);
	display: none;
}

.page-editor-model-box .ui-model-one .ui-model-demo:hover:after {
	display: block;
}
.page-editor-page-box {
	
}

.page-editor-page-box .coos-choose-page-model {
	-webkit-box-shadow: 0px 0px 5px #ff6c00 !important;
	box-shadow: 0px 0px 5px #ff6c00 !important;;
}

.page-editor-page-box .page-editor-toolbar {
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 12px;
	line-height: 16px;
	padding: 3px 10px;
}

.page-editor-page-box .coos-page {
	
}

.page-editor-page-box .coos-panel {
	
}
