

* {
    padding: 0px;
    margin: 0px;
  }
  a{
      color: inherit;
  }
  a:focus,a:active{
    color: none;
  }
  a:checked{
    color: none;
  }
  ul,li{
      list-style: none;
  }

  .coos-icon {
      font-family: "coos-font";
      font-size: 16px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .app {
    min-width: 1000px;
    position: relative;
  }
  .toolbar {
    width: 700px;
    margin: 0px auto;
  }
  .app-min-page {
    width: 700px;
    margin: 0px auto;
  }

.app-nav {
	font-size: 15px;
    position: relative;
    display: block;
	border-collapse: separate;
}

.app-nav>li {
    display: block;
    float: left;
}

.app-nav-full.app-nav {
    width: 100%;
    display: table;
}
.app-nav-full.app-nav>li{
    display: table-cell;
    float: none;
    text-align: center;
}

.app-nav ul {
	position: relative;
}

.app-nav, .app-nav li {
	margin: 0px;
	padding: 0px;
	position: relative;
}

.app-nav li {
	list-style: none;
	white-space: nowrap;
	display: block;
	position: relative;
	letter-spacing: 1px;
	border-radius: 0px;
}

.app-nav-bd>li>a {
	border-bottom: 2px solid transparent;
}

.app-nav ul:after, .app-nav li:after {
	content: "";
	display: table;
	clear: both;
}

.app-nav li a {
	padding: 2px 10px 2px;
	line-height: 36px;
	list-style: none;
	white-space: nowrap;
	display: block;
	position: relative;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	border-radius: 0px;
	clear: both;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-tap-highlight-color: transparent;
}

.app-nav li a input, .app-nav li a select {
	vertical-align: 0px;
	height: 28px;
	padding: 0px 10px;
	border: 1px solid #ddd;
	outline: 0px;
	border-radius: 3px;
}

.app-nav li a>* {
	display: inline;
	vertical-align: bottom;
}

.app-nav li a .coos-icon {
	font-size: 20px;
	margin: 0px 5px;
	vertical-align: -2px;
}

.app-nav li.coos-line {
	border-right: 1px solid #ddd;
	width: .0001px;
}

.app-nav li.coos-line:after {
	display: none;
}

.app-nav li a img {
	width: 32px;
	height: 32px;
	border-radius: 100px;
	margin: 0px 5px;
	vertical-align: -10px;
}

.app-nav li a:link, .app-nav li a:visited, .app-nav li a:active, .app-nav li a:hover {
	color: inherit;
}

.app-nav li ul {
	display: none;
}

.app-nav li ul a {
	padding-left: 30px;
}

.app-nav li.coos-open>ul {
	display: block;
}

.app-nav li:hover>ul {
	display: block;
}

.app-nav ul {
	position: absolute;
	background: #ffffff;
	color: #262626;
	padding: 5px 0px;
	top: 100%;
	left: 0px;
	border-radius: 3px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	min-width: 160px;
	z-index: 3;
}

.app-nav ul.app-nav-left, .app-nav li.app-nav-left>ul {
	right: 0px;
	left: auto;
}

.app-nav ul ul.app-nav-left, .app-nav ul li.app-nav-left>ul {
	right: 100%;
	left: auto;
}

.app-nav ul.app-nav-top, .app-nav li.app-nav-top>ul {
	bottom: 100%;
	top: auto;
}

.app-nav li ul ul {
	left: 100%;
	top: 0px;
	margin-top: -6px;
	margin-right: 1px;
}

.app-nav ul li a {
	clear: both !important;
	font-weight: 400 !important;
	color: #777 !important;
	white-space: nowrap !important;
	position: relative;
	text-align: left;
    padding: 5px 10px !important;
    width: auto;
}

.app-nav ul li a:hover, .app-nav ul li a:focus {
	color: #262626 !important;
	text-decoration: none;
	background-color: #f5f5f5 !important;
}

.app-nav ul li:hover {
	background-color: #f7f7f7;
}

.app-nav li a .coos-caret {
	margin-left: 5px;
	font-size: 12px;
	vertical-align: 1px;
}

.app-nav li a .coos-caret:before {
	content: "\e600";
	font-family: "coos-font" !important;
	font-style: normal;
}

.app-nav.app-nav-vertical>li>a {
	text-align: center;
	line-height: 24px;
	display: block;
}

.app-nav.app-nav-vertical>li>a .coos-icon {
	display: block;
	clear: both;
	float: none;
	margin: auto !important;
}

.app-nav.app-nav-vertical>li>a img {
	display: block;
	width: 22px;
	height: 22px;
	margin: 0px auto !important;
}

.app-nav.app-nav-xs li a {
	padding: 2px 5px 2px;
	font-size: 12px;
	line-height: 18px;
	border-bottom-width: 1px;
}

.app-nav.app-nav-xs li a input, .app-nav.app-nav-xs li a select {
	height: 18px;
}

.app-nav.app-nav-xs li a img {
	width: 16px;
	height: 16px;
	margin: 0px 2px;
	vertical-align: -4px;
}

.app-nav.app-nav-xs li a .coos-icon {
	font-size: 16px;
	margin: 0px 2px;
}

.app-nav.app-nav-xs li a .coos-caret {
	font-size: 12px;
}

.app-nav.app-nav-sm li a {
	padding: 4px 6px 4px;
	font-size: 14px;
	line-height: 20px;
	border-bottom-width: 1px;
}

.app-nav.app-nav-sm li a input, .app-nav.app-nav-sm li a select {
	height: 20px;
}

.app-nav.app-nav-sm li a img {
	width: 20px;
	height: 20px;
	margin: 0px 3px;
	vertical-align: -5px;
}

.app-nav.app-nav-sm li a .coos-icon {
	font-size: 18px;
	margin: 0px 3px;
}

.app-nav.app-nav-sm li a .coos-caret {
	font-size: 12px;
}

.app-nav.app-nav-md li a {
	padding: 6px 10px 6px;
	font-size: 18px;
	line-height: 36px;
	border-bottom-width: 3px;
}

.app-nav.app-nav-md li a input, .app-nav.app-nav-md li a select {
	height: 36px;
}

.app-nav.app-nav-md li a img {
	width: 36px;
	height: 36px;
	vertical-align: -12px;
}

.app-nav.app-nav-md li a .coos-icon {
	font-size: 25px;
}

.app-nav.app-nav-md li a .coos-caret {
	margin-left: 10px;
	font-size: 12px;
}

.app-nav.app-nav-lg li a {
	padding: 7px 10px 7px;
	font-size: 19px;
	line-height: 40px;
	border-bottom-width: 4px;
}

.app-nav.app-nav-lg li a input, .app-nav.app-nav-lg li a select {
	height: 40px;
}

.app-nav.app-nav-lg li a img {
	width: 40px;
	height: 40px;
	vertical-align: -13px;
}

.app-nav.app-nav-lg li a .coos-icon {
	font-size: 25px;
}

.app-nav.app-nav-lg li a .coos-caret {
	margin-left: 10px;
	font-size: 12px;
}

.app-nav>li.coos-active>a, .app-nav>li.coos-hover>a {
	color: #888787;
	border-color: #888787;
}

@media ( hover : hover) {
	.app-nav>li>a:hover {
		color: #888787;
		border-color: #888787;
	}
}


.coos-item-box {
	border: 1px solid #ddd;
	position: relative;
	display: block;
}

.coos-item-box>li {
	position: relative;
	border-bottom: 1px solid #ddd;
}


.coos-item-box>li:last-child {
	border-bottom: 0px;
}


.coos-item-box .coos-item-box {
	border: 0px;
}

.coos-item-box .coos-item-box>li {
	padding-left: 20px;
	border: 0px;
}

.coos-item {
	padding: 2px 10px 2px;
	list-style: none;
	display: flex;
	position: relative;
	text-decoration: none;
	border-radius: 0px;
	clear: both;
	width: 100%;
	text-overflow: ellipsis;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	align-items: center;
}

.coos-item, .coos-item:visited, .coos-item:active, .coos-item a, .coos-item a:visited, .coos-item a:active {
	color: inherit;
	text-decoration: none;
}

.coos-item:link, .coos-item a:link {
	color: inherit;
}

.coos-item>img {
	width: 40px;
	height: 40px;
	margin: 5px;
}

.coos-item>.coos-content {
	margin: 5px;
	line-height: 1.5;
}

.coos-item>.coos-content>.coos-title {
	font-size: 15px;
	font-weight: 600;
	display: block;
}

.coos-item>.coos-icon {
	margin: 5px;
}

.coos-index {
	position: relative;
	margin: 10px;
	background: #eeeeee;
	height: 30px;
	width: 30px;
	line-height: 26px;
	border: 2px solid #fff;
	text-align: center;
	font-weight: bold;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	position: relative;
}

.coos-index-rectangle {
	position: relative;
	margin: 10px;
	background: #eeeeee;
	height: 30px;
	width: 30px;
	line-height: 26px;
	border: 2px solid #fff;
	text-align: center;
	font-weight: bold;
}

.coos-index .coos-index-rectangle:after {
	position: absolute;
	content: '';
	border: 6px solid transparent;
	right: -6px;
	top: 50%;
	margin-top: -6px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}


.coos-scrollbar {
	overflow: auto;
}

.coos-scrollbar::-webkit-scrollbar { /*滚动条整体样式*/
	width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
	height: 5px;
}

.coos-scrollbar::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
	border-radius: 5px;
	background: #a0a0a0;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.coos-scrollbar::-webkit-scrollbar-track { /*滚动条里面轨道*/
	border-radius: 5px;
	background: #EDEDED;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}


.ui-menu .ui-menu-item{
    padding: 2px 5px;
    font-size: 12px;
}

.app-screen-message-box{
	position: fixed;
    z-index: 9999999;
    top: 0px;
    left: 0px;
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	transform: scale(0);
	transition: all .3s;
}
.app-screen-message-box.app-screen-message-show{
	transform: scale(1);
}

.app-screen-message-box .app-screen-message {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 200px;
	margin-left: -200px;
	margin-top: -150px;
	text-align: center;
  }

  .app-screen-message-box .app-screen-message-img {
	width: 30px;
	height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 10px auto;
  }

  .app-screen-message-box .app-screen-message-text {
	font-size: 15px;
	font-weight: 600;
	color: #a2a2a2;
	letter-spacing: 2px;
	line-height: 40px;
  }
  .el-dialog__body{
	  padding: 10px !important;
  }