<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ROLLING" class="ch.qos.logback.core.FileAppender">
		<file>${APP_HOME}/log/terminal.log</file>
		<append>true</append><!-- 日志追加 -->
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.coospro" level="DEBUG" />
	<root level="ERROR">
		<appender-ref ref="ROLLING" />
	</root>
</configuration>